*.o
git.c
libloc.c
makefile
makehelp
logo
config.h
config.log
config.status
docs/html/
docs/ucblogo.info
docs/usermanual.aux
docs/usermanual.cp
docs/usermanual.cps
docs/usermanual.dvi
docs/usermanual.log
docs/usermanual.ps
docs/usermanual.toc
helpfiles/HELPCONTENTS
