*~
*.o
.deps/
/aclocal.m4
/autom4te.cache/
/compile
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/docs/texinfo.tex
/docs/ucblogo.html
/docs/ucblogo.info
/docs/ucblogo.pdf
/docs/ucblogo.t2p/
/helpfiles/ALL_NAMES
/helpfiles/HELPCONTENTS
/helpfiles/`
/install-sh
/makefile
/makehelp
/missing
/stamp-h1
/ucblogo
Makefile
Makefile.in
*.i
*.ii
*.s
*.exe
git.c
logo_win.res
