#!/usr/bin/make -f
#
# debian/rules for ucblogo package

p=ucblogo

build:
	$(checkdir)
	./configure
	$(MAKE) LIBLOC=/usr/lib/$(p) CFLAGS="-O2 -Wall -g"
	touch build

clean:
	$(checkdir)
	$(MAKE) -i clean || $(MAKE) -i -f makefile.in clean
	-rm -f build
	-rm -f makefile config.h config.cache config.log config.status \
		core logo makehelp
	-rm -rf *~ debian/tmp debian/{*~,files*,substvars}
	-rm -rf helpfiles

binary-indep: checkroot build
# None
	@echo 'No architecture independend package components.'; false

binary binary-arch: checkroot build
	$(checkdir)
	-rm -rf debian/tmp
	install -d debian/tmp debian/tmp/DEBIAN
	install -d debian/tmp/usr/doc/$(p)
	install -d debian/tmp/usr/bin
	install -d debian/tmp/usr/lib/$(p)/helpfiles
	install -d debian/tmp/usr/lib/$(p)/logolib
	install -d debian/tmp/usr/lib/$(p)/csls
	install -s logo debian/tmp/usr/bin/$(p)
	ln -s $(p) debian/tmp/usr/bin/logo
	cp -r helpfiles/* debian/tmp/usr/lib/$(p)/helpfiles/.
	cp -r logolib/* debian/tmp/usr/lib/$(p)/logolib/.
	cp -r csls/* debian/tmp/usr/lib/$(p)/csls/.
	install -d debian/tmp/usr/man/man1
	install $(p).1 debian/tmp/usr/man/man1/.
	gzip -9v debian/tmp/usr/man/man1/*
	ln -s $(p).1.gz debian/tmp/usr/man/man1/logo.1.gz
	cp README usermanual debian/changelog debian/copyright debian/tmp/usr/doc/$(p)/.
	gzip -9v debian/tmp/usr/doc/$(p)/{README,usermanual,changelog}
	dpkg-shlibdeps logo
	dpkg-gencontrol
	chown -R root.root debian/tmp
	chmod -R g-ws debian/tmp
	dpkg --build debian/tmp ..

define checkdir
	test -f logo.h -a -f debian/rules
endef

checkroot:
	$(checkdir)
	test root =  "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot

