[Desktop Entry]
Version=1.0
Name=Berkeley Logo
GenericName=UCBLogo
Exec=/usr/bin/ucblogo
Icon=ucblogo
Type=Application
Categories=Education;Development;
Keywords=Logo;Programming;
